.cardHolder .desc {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
	align-items: left;

	padding: 20px;

	min-width: 95%;
	max-width: 95%;
	min-height: 95%;
	max-height: 95%;

  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  	overflow: hidden;
}

.cardHolder .desc .picture h1 {
	background: rgba(217,217,217,0.7);
	font-size: 25px;
	padding: 7px;
	margin-top: 17px;
	margin-bottom: 15px;
}

.cardHolder .desc a {
	flex: 1;
}

.cardHolder .desc .picture {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
	align-items: left;

	min-width: 100%;
	max-width: 100%;
	min-height: 60vh;
	max-height: 60vh;

  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media only screen and (max-width: 700px) {
	.cardHolder .desc {
		border-radius: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	.cardHolder .desc > section {
		border-radius: 5px;
	}
}